name: Run Gradle on PRs
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

        # Populates ARTIFACTORY_USERNAME and ARTIFACTORY_API_KEY with
        # temporary username/password for publishing to packages.atlassian.com
      - name: Get publish token
        id: publish-token
        if: github.ref == 'refs/heads/release'
        uses: atlassian-labs/artifact-publish-token@v1.0.1
        with:
          output-modes: environment

      # Publishes to Artifactory only on push to the "release" branch.
      - name: "Publish"
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        if: github.ref == 'refs/heads/release'
        run: chmod 755 gradlew && ./gradlew artifactoryPublish
